# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

alias_dir=$PWD/.direnv/aliases

export_alias() {
  local name=$1
  shift
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  echo "#!/usr/bin/env bash -e" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias h "${PWD}/ops/help.sh \${@}"
$PWD/ops/help.sh alias
PATH_add "$($PWD/ops/help.sh path)"

PATH_add "$alias_dir"

devbox run init
